<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Invoice</display-name>
  <welcome-file-list>
    <welcome-file>/faces/pages/home.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>User List</servlet-name>
    <servlet-class>com.invoice.control.UserList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User List</servlet-name>
    <url-pattern>/UserList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Role List</servlet-name>
    <servlet-class>com.invoice.control.RoleList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Role List</servlet-name>
    <url-pattern>/RoleList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Product List</servlet-name>
    <servlet-class>com.invoice.control.ProductList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product List</servlet-name>
    <url-pattern>/ProductList</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Contractor List</servlet-name>
    <servlet-class>com.invoice.control.ContractorList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contractor List</servlet-name>
    <url-pattern>/ContractorList</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Adoption List</servlet-name>
    <servlet-class>com.invoice.control.AdoptionList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adoption List</servlet-name>
    <url-pattern>/AdoptionList</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Adoption</servlet-name>
    <servlet-class>com.invoice.control.Adoption</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adoption</servlet-name>
    <url-pattern>/Adoption</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.invoice.control.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-name>User List</servlet-name>
    <servlet-name>Product List</servlet-name>
  </filter-mapping>
	<filter>
  		<filter-name>PrimeFaces FileUpload Filter</filter-name>
  		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
  		<filter-name>PrimeFaces FileUpload Filter</filter-name>
  		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
</web-app>
