
div
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
div.headerDiv
{
	height: 75px;
	border-bottom: solid;
	border-bottom-color: silver;
}
div.menuBar
{
	height: 35px;
	border-bottom: solid;
	border-bottom-color: silver;
}